
@font-face {
    font-family: 'SF-Pro-Light';
    src: url('../../static/fonts/sf-pro/sf-pro-text-light.woff') format('woff2');
  }


  .heroBanner {
    padding: 0 4rem;
    text-align: left;
    position: relative;
    overflow: hidden;
    height: 25rem;
    color: #3D4043;
    background-color: #f2f3f6;
  }

  html[data-theme='dark'] .heroBanner {
    background-color: #000;
    color: #f2f3f6;
  }
  
  .features {
    display: flex;
    align-items: center;
    padding: 0 4rem 4rem 4rem;
    width: 100%;
  }

  @media (max-width: 966px) {
    .features {
      padding: 0 2rem 2rem 2rem;
    }
  }
  
  .aboutMe {
    font-family: 'SF-Pro-Light';
  }
  
  .aboutMeEmphasis {
    font-family: 'SF-Pro-Bold';
    font-weight: 700;
    color: #0c5997;
  }
  
  html[data-theme='dark'] .aboutMeEmphasis {
    font-family: 'SF-Pro-Regular';
    color: #ffdcdc;
  }
  
  .profilePictureContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .profilePicture {
    height: 20rem;
    width: 20rem;
    border-radius: 50%; 
    object-fit: cover;
  }
  