
@font-face {
  font-family: 'SF-Pro-Light';
  src: url('../../static/fonts/sf-pro/sf-pro-text-light.woff') format('woff2');
}

.features {
  display: flex;
  align-items: center;
  padding: 0 4rem 4rem 4rem;
  width: 100%;
}

.aboutMe {
  font-family: 'SF-Pro-Light';
}

.aboutMeEmphasis {
  font-family: 'SF-Pro-Bold';
  font-weight: 700;
  color: #0c5997;
}

.contactMe {
  font-family: 'SF-Pro-Light';
  padding-right: 4.5rem;
}

html[data-theme='dark'] .aboutMeEmphasis {
  font-family: 'SF-Pro-Regular';
  color: #ffdcdc;
}

.profilePictureContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profilePicture {
  height: 20rem;
  width: 20rem;
  border-radius: 50%; 
  object-fit: cover;
}

.lineWrapper {
  display: flex;
  align-items: baseline;
}

.middle {
  border-bottom: 1px dotted #aaa;
  flex-grow: 1;
  margin: 0 12px;
}