
@font-face {
  font-family: 'SF-Pro-Light';
  src: url('../../static/fonts/sf-pro/sf-pro-text-light.woff') format('woff2');
}

.features {
  display: flex;
  align-items: center;
  padding: 4rem;
  width: 100%;
}

@media (max-width: 966px) {
  .features {
    padding: 0 2rem 2rem 2rem;
  }
}

@media (max-width: 996px) {
  .currently {
    padding-right: 0 !important;
  }
} 

.currently {
  font-family: 'SF-Pro-Light';
  padding-right: 4.5rem;
}

.currentlyEmphasis {
  font-family: 'SF-Pro-Bold';
  font-weight: 700;
  color: #0c5997;
}

html[data-theme='dark'] .currentlyEmphasis {
  font-family: 'SF-Pro-Regular';
  color: #ffdcdc;
}

.currentlyMap {
  padding: 1rem 0;
}

.lineWrapper {
  display: flex;
  align-items: baseline;
}

.middle {
  border-bottom: 1px dotted #aaa;
  flex-grow: 1;
  margin: 0 12px;
}