
@font-face {
  font-family: 'SF-Pro-Light';
  src: url('../../static/fonts/sf-pro/sf-pro-text-light.woff') format('woff2');
}

.features {
  display: flex;
  align-items: center;
  padding: 0 4rem 4rem 4rem;
  width: 100%;
  height: 30rem;
}

.currently {
  font-family: 'SF-Pro-Light';
  padding-right: 4.5rem !important;
}

.currentlyEmphasis {
  font-family: 'SF-Pro-Bold';
  font-weight: 700;
  color: #0c5997;
}

html[data-theme='dark'] .currentlyEmphasis {
  font-family: 'SF-Pro-Regular';
  color: #ffdcdc;
}

.currentlyMap {
  padding: 1rem 0;
}